body {
  font-family: sans-serif;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#inventory {
  list-style: none;
  padding: 0;
}

#inventory .book {
  display: flex;
  align-items: center;
  line-height: 0.5;
}

#inventory .book-info {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 1;
}

#inventory .removeBookButton {
  padding: 5px 10px;
  border: none;
  background-color: rgba(124, 124, 124, 0.712);
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
