#inventory .book {
  display: flex;
  align-items: center;
  line-height: 0.5;
}

#inventory .book-info {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 1;
}

